.navbar {
    background-color: orange;
}

.card-item {
    max-width: 300px;
    min-height: 370px;
}

.card-img-top {
    height: 214px;
}

.not-found {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

a {
    text-decoration: none;
}